@{
    ViewBag.Title = "Main Menu";
    var count = ViewBag.ReportCount ?? 0;
    var target = ViewBag.ReportTarget ?? 10;
}


<div class="jumbotron">
    <h1 class="display-5">Welcome to Municipal Services</h1>
    <p class="lead">Report issues, stay informed about local events, and track your service requests.</p>
    <hr class="my-4">
    <p>Select an option below to get started.</p>


    <div class="list-group">
        <a href="@Url.Action("Submit", "Report")" class="list-group-item list-group-item-action">Report an Issue</a>
        <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">Local Events and Announcements (Coming soon)</a>
        <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">Service Request Status (Coming soon)</a>
    </div>


    <br />
    <p class="mt-2"><small>Every report helps us improve our city. Thank you for your participation.</small></p>
</div>